<html>
<head>
    <meta charset="UTF-8"/>
    <title>Dentist App</title>

    <link th:rel="stylesheet" th:href="@{/webjars/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-select/1.13.15/css/bootstrap-select.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}"/>
    <link th:rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>
<body>

<div class="container">
    <div class="container-block">
        <th:block>
            <h1 th:if="${isEdit}" class="my-4" th:text="#{registration.edit}"></h1>
            <h1 th:unless="${isEdit} or ${isReadOnly}" class="my-4" th:text="#{registration.new}"></h1>
            <h1 th:if="${isReadOnly}" class="my-4" th:text="#{registration.view}"></h1>
        </th:block>

        <form action="#" th:object="${dentistVisitDto}" th:method="POST">
            <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger" role="alert">
                <ul>
                    <li th:each="err : ${#fields.globalErrors()}" th:utext="${err}"></li>
                </ul>
            </div>

            <div class="mb-3">
                <div class="row">
                    <label for="dentistId" class="col-sm-5 col-form-label" th:text="#{registration.dentist}"></label>
                    <select  th:field="*{dentistId}" class="selectpicker col-sm-6" th:unless="${isReadOnly}"
                             th:title="#{form.choose}" th:disabled="*{!isEditable()} and ${isEdit}">
                        <option
                                th:each="dentist : ${dentists}"
                                th:value="${dentist.getId()}"
                                th:text="${dentist.getFullName()}">
                        </option>
                    </select>
                    <span th:if="${isReadOnly}" th:text="${dentistsById.get(visit.dentistId).getFullName()}"
                          id="dentistId" class="col-sm-7 col-form-label"></span>
                </div>
                <div class="row mt-1" th:if="${#fields.hasErrors('dentistId')}">
                    <div class="text-danger col-sm-12 small font-weight-bold"
                         th:each="err : ${#fields.errors('dentistId')}" th:text="${err}"></div>
                </div>
            </div>

            <div class="mb-3">
                <div class="row">
                    <label for="date" th:text="#{registration.date}" class="col-sm-5 col-form-label"></label>
                    <div th:unless="${isReadOnly}" class="input-group date col-sm-6" id="datetimepicker1"
                         data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"
                               th:field="*{date}" id="date" th:placeholder="#{form.placeholder.date}"
                               th:disabled="*{!isEditable()} and ${isEdit}" />
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                        </div>
                    </div>
                    <span th:if="${isReadOnly}" class="col-sm-7 col-form-label"
                          th:text="${#dates.format(visit.visitDate, 'dd.MM.yyyy')}"></span>
                </div>
                <div class="row mt-1" th:if="${#fields.hasErrors('date')}">
                    <div class="text-danger col-sm-12 small font-weight-bold"
                         th:each="err : ${#fields.errors('date')}" th:text="${err}"></div>
                </div>
            </div>

            <div class="mb-3" th:if="${availableTimes}">
                <div class="row">
                    <label for="availableTimes" class="col-sm-5 col-form-label" th:text="#{registration.time}"></label>
                    <select th:unless="${isReadOnly}" id="availableTimes" class="selectpicker col-sm-6"
                            th:disabled="*{!isEditable()} and ${isEdit} or ${availableTimes.isEmpty()}"
                            th:title="#{form.choose}" th:field="*{time}">
                        <option th:each="time : ${availableTimes}" th:value="${time}" th:text="${time}"></option>
                    </select>
                    <span th:if="${isReadOnly}" class="col-sm-7 col-form-label"
                          th:text="${#dates.format(visit.visitDate, 'HH:mm')}"></span>
                </div>
                <div class="row mt-1" th:if="${#fields.hasErrors('time')}">
                    <div class="text-danger col-sm-12 small font-weight-bold"
                         th:each="err : ${#fields.errors('time')}" th:text="${err}"></div>
                </div>
            </div>

            <div class="row">
                <th:block th:if="${availableTimes} and ${!isReadOnly}">
                    <button th:if="${isEdit}" type="submit" class="btn btn-primary mx-1"
                            th:disabled="*{!isEditable()} and ${isEdit}"
                            th:text="#{registration.update}" th:formaction="@{/{id}/update(id=*{id})}">
                    </button>
                    <button th:unless="${isEdit}" class="btn btn-primary mx-1"
                            th:text="#{registration.new.save}" th:formaction="@{/}">
                    </button>
                </th:block>
                <button class="btn btn-primary mx-1" type="submit" th:formmethod="POST" th:unless="${isReadOnly}"
                        th:disabled="*{!isEditable()} and ${isEdit}"
                        th:formaction="@{'/availableTimes'}" th:text="#{registration.button.findAvailableTimes}">
                </button>
                <a th:if="${isReadOnly} and *{isEditable()}" class="btn btn-primary mx-1"
                   th:href="@{/{id}/edit(id=${visit.id})}"
                   th:text="#{registration.button.edit}"></a>
                <a class="btn btn-outline-primary mx-1" th:href="@{/registrations}"
                   th:text="#{registration.button.list}"></a>
            </div>

        </form>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/bootstrap-select/js/bootstrap-select.min.js}"></script>
<script th:src="@{/webjars/momentjs/min/moment.min.js}"></script>
<script th:src="@{/webjars/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>

<script>
    $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
        icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar',
            up: 'fas fa-arrow-up',
            down: 'fas fa-arrow-down',
            previous: 'fas fa-chevron-left',
            next: 'fas fa-chevron-right',
            today: 'far fa-calendar-check-o',
            clear: 'far fa-trash',
            close: 'far fa-times'
        } });

    $('#datetimepicker1').datetimepicker({
        format: 'DD.MM.YYYY'
    });

    $.fn.selectpicker.Constructor.BootstrapVersion = '4';
</script>

</body>
</html>